html{
    background-color: rgb(196, 185, 185);

}
nav{ 
    color: rgb(255, 47, 161);
    padding: 5px;
    background-color: rgb(172, 155, 177);
}
nav img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
}
nav>ul>li>a {
width: 300;
height: 300;
border-radius: 40%;}
img{
    width: 300px;
    height: 300px;
}
  h1{
      color:blue ;
      text-align: justify;
      font-style: normal;
  }
  h2{
      color: green;
      font-style: italic;
      text-align: center;
  }
  h3{
      color: red;
      font-style: inherit;
      text-align: center;
  }
  p{
      font-family: sans-serif;
      font-size: 24p;
  }
  ul{
      line-height: 60px;
  }
    
wrapper{background-color: aqua;

}
first{text-indent: 100px;

}
li{
    display: inline;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 0-20%;

}
